<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- 부트 스트랩 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>
    
</body>
</html>